<div class="row">
    <div class="col s12">
        <br>
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#login">Login</a></li>
            <li class="tab col s6"><a href="#register">Register</a></li>
        </ul>
    </div>
    <div id="login" class="col s12">
        {{#if loginError}}
            <p>{{loginError}}</p>
        {{/if}}
        <form action="/auth/login" method="post">
            <div class="input-field">
                <input id="email" type="email" name="email" class="validate" required>
                <label for="email">email</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">password</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-primary">Send</button>
            <br>
            <a href="/auth/reset">Forgot password?</a>
        </form>
    </div>
    <div id="register" class="col s12">
        {{#if registerError}}
            <p>{{registerError}}</p>
        {{/if}}
        <form action="/auth/register" method="post" novalidate>
            <div class="input-field">
                <input id="remail" type="email" name="email" class="validate" required>
                <label for="remail">email</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>
            <div class="input-field">
                <input id="name" type="text" name="name" class="validate" required>
                <label for="name">Name</label>
                <span class="helper-text" data-error="wrong name"></span>
            </div>
            <div class="input-field">
                <input id="rpassword" type="password" name="confirm" class="validate" required>
                <label for="rpassword">password</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>
            <div class="input-field">
                <input id="confirm" type="password" name="password" class="validate" required>
                <label for="confirm">password again</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-primary">Register</button>
        </form>
    </div>
</div>