<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
            <p>{{error}}</p>
        {{/if}}
        <h1>Set new password</h1>
        <form action="/auth/password" method="post">
            <div class="input-field">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">password</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
            <button class="btn btn-primary">Set new password</button>
        </form>
    </div>
</div>